.payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.card-name{
    font-size: 15px;
}

.card-no{
    width: 300px;
    height: 40px;
}
.card-exp{
    width: 160px;
    height: 35px;
    margin-right: 33px;
}

.card-cvv{
    width: 100px;
    height: 35px;
    margin-bottom: 15px;
}
.pay-btn{
    width: 300px;
}
.payment-min-conatiner{
    border: 1px solid black;
    padding: 30px;
}